.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

@media (max-width: 1980px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  .main {
    grid-template-columns: 1fr;
  }
}