.main {
    display: flex;
    flex-direction: row;
    border-radius: 5%;
}

.poster {
    width: 135px;
    aspect-ratio: 2 / 3;
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(var(--box-shadow-rgb), 0.7);
    border-radius: 3px;
}

.posterImage {
    object-fit: cover;
}

.mediaInfo {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(24, 24, 24, 0.8);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;

    min-height: 60px;
    max-height: 66.666%;
    overflow-y: auto;
}

.userStats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
}

.titleText {
    display: block;
    text-align: center;
}

.score,
.epWatched {
    margin: 0;
}