.main {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    background-color: rgba(var(--surface-primary-rgb), 0.5);
    padding: 1rem;
    box-shadow: 4px 4px 4px rgba(24, 0, 37, 0.5);
    border-radius: 15px;
}

.tabList {
    display: flex;
    flex-direction: column;
    justify-self: end;
    align-self: start;
    flex: 1;
    gap: 1rem;
    margin-top: 5rem;
}

.tabLink {
    background-color: transparent;
    color: var(--foreground);
    border: none;
    font-size: large;
}

.tabLink:hover {
    cursor: pointer;
    color: #ddd8e77c;
}

.active {
    color: #ddd8e77c;
}

.dropdown {
    position: relative;
    display: inline-block;
    justify-self: end;
    align-self: start;
}

.dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3d36be;
    border: 1px solid #7b7bad;
    border-radius: 6px;
    min-width: 160px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    flex-direction: column;
}

.dropdownMenu button {
    padding: 10px 16px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: var(--foreground);
}

.dropdownMenu button:hover {
    background-color: #5f50cd;
    color: var(--foreground);
}

.dropdown:focus-within .dropdownMenu {
    display: flex;
}

.filterButton {
    border-radius: 999px;
    border-color: #7b7bad;
    border-style: solid;
    width: 90px;
    height: 30px;
    background-color: #3d36be;
    color: var(--foreground);
    cursor: pointer;
}

.radioGroup {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-self: start;
    align-self: start;
}

.radioGroup input[type="radio"] {
    accent-color: #3d36be;
    cursor: pointer;
    appearance: none;
}

.listView input[type="radio"]::after{
    content:"▦";
    font-size: 1.5rem;
}

.tierView input[type="radio"]::after{
    content:"▤";
    font-size: 1.5rem;
}