.main {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    padding-right: 5rem;
    padding-left: 5rem;
    justify-content: space-between;
}

.podium {
    display: flex;
    flex-direction: column;
    position: relative;
}

.podiumLabel {
    text-align: center;
    padding-top: 3%;
}

.media {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.secondPlace {
    margin-top: 7%;
}

.secondRibbon {
    position: absolute;
    bottom: 12px;
    left: -15px;
}

.firstRibbon {
    position: absolute;
    bottom: 27px;
    left: 107px;
}

.thirdPlace {
    margin-top: 10%;
}

.thirdRibbon {
    position: absolute;
    bottom: 5px;
    left: 183px;
}