.main {
    display: flex;
    min-width: 400px;
    justify-content:space-evenly
}

.pageButton {
    min-width: 150px;
    align-items: center;
    text-align: center;
    padding: 20px 40px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 999px;
    text-decoration: none;
    color: #cbbfff;
    background-color: #2a0f63;
}

.pageButton:hover {
    background: #3b1687
}