.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.podiumWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.podium {
    display: flex;
    flex-direction: column;
    position: relative;
}

.podiumLabel {
    text-align: center;
    padding-top: 3%;
}

.media {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.secondPlace {
    margin-top: 7%;
    height: 100;
    width: 67.5;
}

.secondRibbon {
    position: absolute;
    bottom: 7px;
    left: -8px;
}

.firstPlace {
    height: 100;
    width: 67.5;
}

.firstRibbon {
    position: absolute;
    bottom: 24px;
    left: 118px;
}

.thirdPlace {
    margin-top: 10%;
    height: 100;
    width: 67.5;
}

.thirdRibbon {
    position: absolute;
    bottom: -3px;
    left: 194px;
}

@media(max-width: 560px) {
    .main {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}