.main{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sectionHeader{
    justify-content: center;
}

.content{
    background-color: rgba(57, 3, 128, 0.5);
    width: 100%;
}

.tabBar{
    display: flex;
    justify-content: space-evenly;
    padding: .5rem;
}

.tabLink{
    background-color: transparent;
    color: var(--foreground);
    border: none;
    font-size: large;
}
.tabLink:hover{
    cursor: pointer;
}

.tabContent{
    padding: 1.8rem;
}