.main{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 50vh;
}

.sectionHeader{
    justify-content: center;
    height: 10%
}

.content{
    background-color: rgba(57, 3, 128, 0.5);
    width: 100%;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(24, 0, 37, 0.5);
    height: 90%;
}

.tabBar{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: .5rem;
}

.tabLink{
    background-color: transparent;
    color: var(--foreground);
    border: none;
    font-size: large;
}
.tabLink:hover{
    cursor: pointer;
}

.tabContent{
    padding: 1.8rem;
    height: 35vh;
}