.main{
    display: flex;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    background: rgba(var(--surface-primary-rgb), .95);
    gap: 3rem;
    width: 700px;
    min-width: 25%;
    padding: 1.5rem;
    border-radius: 15px;
}

.top {
    font-size: large;
}

.option {
    font-size: large;
    margin-top: 22px;
}

.deleteAccount {
    font-weight: bold;
    color: rgb(236, 56, 56);
    margin-top: 6px;
}

.settingsItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    gap: 10px;
}

.filePicker {
    padding: 10px;
    width: 6.7rem;
    background-color: #3d36be;
    border: 1px solid #7b7bad;
    border-radius: 8px;
    cursor: pointer;
}

.input,
.textarea {
    padding: 8px;
    outline: none;
    border-color: none;
    resize: none;
    border:none;
    background-color: #1b0942;
}

.signout button {
    all: unset;
    padding: 0.3rem;
    border-radius: 10px;
    border: 1px solid #434348;
    background-color: rgb(236, 56, 56);
}

.exitOptions {
    display: flex;
    gap: 2rem;
}

.saveAndCancel {
    display: flex;
    gap: 10px;
    align-items: right;
    justify-content: right;
}

.saveButton {
    background-color: #3d36be;
    border-radius: 10px;
    border: 1px solid #7b7bad;
    width: 60px;
    height: 35px;
    color: var(--foreground);
}

.cancelButton {
    background-color: #c8c7db;
    border-radius: 10px;
    border: 1px solid #636369;
    width: 60px;
    height: 35px;
    color: black;
}