.main{
    display: flex;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    display: flex;
    flex-direction: column;
    background: rgba(var(--surface-primary-rgb), .95);
    gap: 1rem;
}

.option {
    font-size: large;
}