.main{
    position: relative;
    background-color: rgba(var(--surface-primary-rgb), 0.2);
    box-shadow: 0 6px 15px rgba(var(--box-shadow-rgb), 0.7);
    border-radius: 15px;
    padding-bottom: 1rem;
}

.content{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;

    margin-left: 10%;
    margin-right: 10%;

    align-items: start;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pfp {
    margin: 0;
}

.username {
    margin-top: 0.75rem;
    text-align: center;
}

.SettingsButton {
    position: absolute;
    top: 15px;
    right: 15px;
}

@media (max-width: 700px) {
    .content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .left {
        align-items: center;
    }

    .bio {
        text-align: left;
    }
}