.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  padding: 5rem 15rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

@media (max-width: 1900px) {
  .main{
    padding: 5rem 10rem;
  }
}

@media (max-width: 1650px) {
  .main{
    padding: 5rem 5rem;
  }
}

@media (max-width: 1350px) {
  .main{
    grid-template-columns: 1.5fr 1fr;
    padding: 1rem 2rem;
  }
}

@media (max-width: 900px) {
  .main{
    grid-template-columns: 1fr;
    padding: 1rem 1rem;
  }
}