.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content{
    margin-left: 10%;
    margin-right: 10%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.signOutButton {
    width: 100px;
    height: 50px;
    margin-top: 3rem;
    margin-left: auto;
}