.main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.content{
    display: flex;
    flex-direction: column;
    margin-left: 13%;
    margin-right: 13%;
    gap: 4rem;
}

.grid{
    display: grid;
    grid-template-columns: .5fr 2fr;
    gap: 4rem;
    align-items: start; /*Fixes issue with TrackedMedia section trying to scale vertically with Stats section*/
}

.signOutButton {
    width: 100px;
    height: 50px;
    margin-top: 3rem;
    margin-left: auto;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: .5fr 1fr;
  }
}

@media (max-width: 200px) {
  .grid {
    grid-template-columns: 1fr;
  }
}