.main{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sectionHeader{
    display: flex;
    flex-direction: column;
}

.content{
    background-color: rgba(56, 18, 87, 0.5);
    width: 100%;
}

.tabBar{
    display: flex;
    justify-content: space-evenly;
    padding: .5rem;
}

.tabLink{
    background-color: transparent;
    color: var(--foreground);
    border: none;
    font-size: large;
}