.posterGrid{
    background-color: rgba(56, 18, 87, 0.5);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
    padding: 1rem;
    box-shadow: 4px 4px 4px rgba(24, 0, 37, 0.5);
}

.poster{
    width: 100%;
    aspect-ratio: 2/3;
    position: relative;
    box-shadow: 4px 4px 4px rgba(32, 8, 51, 0.5);
}
.poster:hover{
    opacity: 1;
    cursor: pointer;
}

.hoverInfo{
    position: absolute;
    bottom: 0;
    background-color: rgba(24, 24, 24, .8);
    padding: .2rem;
    text-wrap: pretty;
    height: 30%;
    opacity: 0;
    transition: .1s ease;
}
.poster:hover .hoverInfo{
    opacity: 1;
}