.posterGrid{
    background-color: rgba(var(--surface-primary-rgb), 0.5);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(var(--box-shadow-rgb), 0.5);
}
