.posterGrid{
    background-color: rgba(var(--surface-primary-rgb), 0.5);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(var(--box-shadow-rgb), 0.7);
}

.poster {
    max-width: 180px;
}