.main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.header{
    font-size: 1.7rem;
}

@media(max-width: 700px) {
    .main {
        width: 93vw;
    }
}