.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
}

.modal {
  background: rgba(57, 3, 128, .95);
  width: 100%;
  max-width: 1000px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 12px;
  padding: 24px;
  position: relative;
}

.content {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 24px;
}

.imageSection {
  width: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 440px;
  overflow: hidden;
  border-radius: 10px;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  margin: 0;
}

.synopsisBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.notesGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.formGroup input,
.formGroup select,
.notesGroup textarea {
  padding: 8px;
  outline: none;
  border-color: none;
}

.scoreBox{
  width: 115px;
}

.buttonRow {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.errorText {
  color: rgb(236, 56, 56);
  font-weight: bold;
}

.successText {
  color:rgb(31, 221, 31);
  font-weight: bold;
}

.saveButton {
  background-color: #116494; /* light blue */
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.saveButton:hover {
  background-color: #1c83bb;
}

.saveButton:active {
  transform: scale(0.98);
}