.card {
    display: flex;
    flex-shrink: 0;
    gap: 10px;
    min-width: 200px;
    max-width: 250px;

    background: rgba(var(--surface-primary-rgb), 0.2);
    border-radius: 10px;
    padding: 5px;
    padding-right: 7px;

    cursor: pointer;
}

.image {
    position: relative;
    width: 90px;
    aspect-ratio: 2/3;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
}

.info {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.title {
    font-size: 1rem;
    line-height: 1.2;
}