.main{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 15px;
    padding-left: 5rem;
    padding-right: 5rem;
    position:sticky;
    top: 0;
    z-index: 1000;
    background: rgba(var(--surface-secondary-rgb), 0.8);
    backdrop-filter: blur(10px);
}

.browseIcon{
    padding: 0;
    margin: 0;
}

.search{
    display: flex;
    justify-self: start;
    gap: 10px;
}

.searchBar{
    display: flex;
    background-color: #200160;
    border-radius: 20px;
    padding-right: 5px;
}

.searchBarInput{
    border-radius: 15px;
    background-color: transparent;
    border-color: transparent;
}
.searchBarInput:focus {
    outline: none;
    border-color: none;
}

.searchBarButton{
    margin: 10px;
}

.logo{
    text-decoration: none;
    justify-self: center;
}

.logoText {
    color: #d1ced7;
    font-size: 2.3em;
}

.profile{
    justify-self: end;
}

.pfp {
    border-radius: 15%;
}

.dropdown{
    margin-left: 5px;
    margin-bottom: 10px;
}