.poster{
    width: 100%;
    aspect-ratio: 2/3;
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(var(--box-shadow-rgb), 0.7);
    border-radius: 3px;
}
.poster:hover{
    cursor: pointer;
    animation: scroll-rtl 15s linear forwards;
    transform: scale(0.98);
}
.withHover:hover .hoverInfo{
    opacity: 1;
}
.hoverInfo{
    position: absolute;
    bottom: 0;
    background-color: rgba(24, 24, 24, .8);
    padding: .2rem;
    text-wrap: nowrap;
    text-align: center;
    height: 30%;
    opacity: 0;
    transition: .1s ease;
    width: 100%;
    overflow-x: auto;
}