.searchBar {
    display: flex;
    width: 100%;
    background-color: #200160;
    border-radius: 20px;
    padding-right: 5px;
}

.searchBarInput {
    flex: 1;
    border-radius: 15px;
    min-width: 0;
    border-color: transparent;
    font-size: 1.1rem;
}

.searchBarInput:focus {
    outline: none;
    border-color: none;
}

.searchBarButton {
    margin: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    align-self: flex-end;
}