.main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 15rem;
}

.searchBar {
    display: none;
}



@media (max-width: 1900px) {
    .main {
        padding: 5rem 10rem;
    }
}

@media (max-width: 1650px) {
    .main {
        padding: 5rem 5rem;
    }
}

@media (max-width: 1350px) {
    .main {
        padding: 1rem 2rem;
    }
}

@media (max-width: 900px) {
    .main {
        padding: 1rem 1rem;
    }

    .searchBar {
        display: block;
        width: 90%;
        align-self: center;
    }

    .filters {
        margin-left: 5%;
    }
}